# Global
IMAGE_TAG=latest
INTERNAL_NETWORK=jobnet

# Frontend
FRONTEND_PORT=3000
FRONTEND_IMAGE=job-frontend
FRONTEND_CPU_LIMIT=0.50
FRONTEND_MEM_LIMIT=256m
API_BASE_URL=http://api:8000

# API
API_PORT=8000
API_IMAGE=job-api
API_CPU_LIMIT=0.50
API_MEM_LIMIT=256m
REDIS_HOST=redis
REDIS_PORT=6379
QUEUE_NAME=job

# Worker
WORKER_IMAGE=job-worker
WORKER_CPU_LIMIT=0.50
WORKER_MEM_LIMIT=256m
POLL_TIMEOUT_SECONDS=5
PROCESSING_DELAY_SECONDS=2

# Redis
REDIS_IMAGE=redis:7-alpine
REDIS_CPU_LIMIT=0.30
REDIS_MEM_LIMIT=256m
